certifi==2024.2.2 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
customtkinter==5.2.2 ; python_version >= "3.11" and python_version < "4.0"
darkdetect==0.8.0 ; python_version >= "3.11" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.11" and python_version < "4.0"
future==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
geocoder==1.38.1 ; python_version >= "3.11" and python_version < "4.0"
idna==3.6 ; python_version >= "3.11" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.11" and python_version < "4.0"
pillow==10.3.0 ; python_version >= "3.11" and python_version < "4.0"
pyperclip==1.8.2 ; python_version >= "3.11" and python_version < "4.0"
pyserial==3.5 ; python_version >= "3.11" and python_version < "4.0"
pywin32==306 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
ratelim==0.1.6 ; python_version >= "3.11" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.11" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
smbus2==0.4.3 ; python_version >= "3.11" and python_version < "4.0"
tkintermapview==1.29 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.2.1 ; python_version >= "3.11" and python_version < "4.0"
